.protip, .glass, .readerTODO, .future, .TODO, .warning{
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}
.protip {
  background-image: url("../img/ProTipIcon.svg");
}
.glass {
  background-image: url("../img/GlassIcon.svg");
}
.readerTODO {
  background-image: url("../img/ReaderToDoIcon.svg");
}
.future {
  background-image: url("../img/FutureIcon.svg");
}
.TODO {
  background-image: url("../img/AuthorToDoIcon.svg");
}
.warning {
  background-image: url("../img/WarningIcon.svg");
}
